:root {
  --text-color: #757575;
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.17;
}

/* Утилиты */

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

.button {
  min-width: 200px;
  height: 50px;
  border: 0;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.link {
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.image {
  display: block;
  line-height: 0;
}

/* --------------------------Navigation----------------------------- */

.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo--accent {
  color: var(--accent-color);
}

.header__container {
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav__item {
  position: relative;
}

.site-nav__item + .site-nav__item,
.address-nav__item + .address-nav__item {
  margin-left: 50px;
}

.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  color: var(--accent-color);
}

.site-nav__link--current::after {
  position: absolute;
  left: 0;
  bottom: -1px;

  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.address-nav {
  display: flex;
  margin-left: auto;
}

.address-nav__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-nav__link:hover,
.address-nav__link:focus {
  color: var(--accent-color);
}

.address-nav__icon {
  margin-right: 10px;
  fill: currentColor;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-nav__icon:hover,
.address-nav__icon:focus {
  fill: var(--accent-color);
}

/* ---------------------------------HERO----------------------------- */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img.jpg);
  background-size: cover;
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.button-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover,
.button:focus {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}

/* -----------------------------Features----------------------------- */

.features {
  padding-top: 94px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
}

.features__item {
  width: 270px;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

  background: #f5f4fa;
}

.section__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-text-color);
}

.features__text {
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 1.71;

  color: var(--text-color);
}

/* ---------------------------ABOUT----------------------------- */
.about__section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about__title,
.members__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--primary-text-color);
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.about__item {
  position: relative;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.about__overlay {
  position: absolute;
  left: 0;
  bottom: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);
}

.about__overlay-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

/* ------------------------------Members----------------------------- */

.members-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-bg-color);
}

.members__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.members__item {
  padding-bottom: 30px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.members__item:not(:last-child) {
  margin-right: 30px;
}

.members__label {
  margin-top: 30px;
  margin-bottom: 0;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.members__text {
  margin-top: 10px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* ----------------------------SOCIALS------------------------ */

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__item .link {
  display: flex;
  align-items: center;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover,
.socials__link:focus {
  background-color: var(--accent-color);
}

.socials__icon {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__item:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: var(--primary-white-color);
}

/* --------------------------CLIENTS--------------------------- */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
}

.clients__list {
  display: flex;
  justify-content: space-between;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
  border-color: var(--accent-color);
}

.clients__icon {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

/* --------------------------Footer------------------------------ */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.address__wrap {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.logo--footer {
  padding: 0;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

.address__link {
  display: block;
  color: var(--primary-white-color);
}

.address__contact {
  display: block;
  margin-top: 9px;

  color: var(--footer-contact-color);
}

.address__list .link {
  font-weight: inherit;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__list .link:hover,
.address__list .link:focus {
  color: var(--accent-color);
}

/* -------------------------COMMUNITY--------------------------- */

.community__section {
  min-width: 206px;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}

.community__title {
  display: flex;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.community__list {
  display: flex;
}

.community__item:not(:last-child) {
  margin-right: 10px;
}

.community__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.community__link:hover,
.community__link:focus {
  background-color: var(--accent-color);
}

.community__icon {
  fill: var(--primary-white-color);
}

/* ---------------------------SUBSCRIBE---------------------------- */

.subscribe__section {
  display: flex;
  align-items: flex-end;
  min-width: 570px;
  height: 86px;
  margin-top: 12px;
  margin-left: 93px;
}

.subscribe__field {
  display: flex;
  flex-direction: column;
}

.subscribe__field input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.subscribe__label {
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.subscribe__input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 358px;
  height: 50px;

  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  border-radius: 4px;
}

.subscribe__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
  fill: currentColor;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__icon {
  height: 100%;
  margin-left: 10px;
}

.subscribe__button:hover .subscribe__icon,
.subscribe__button:focus .subscribe__icon {
  fill: var(--accent-color);
}

/* ---------------------------PORTFOLIO -------------------------*/
/* ----------------------------Buttons ----------------------------*/

.portfolio__section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;

  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: inherit;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover,
.filter__button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__button--current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  cursor: pointer;
}

/* ------------------- Heading Portfolio --------------------------*/

.examples__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-right: -30px;
  margin-bottom: -30px;
}

.examples__item {
  width: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  overflow: hidden;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples__label-wrap {
  padding: 20px 24px;

  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.examples__heading {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples__list .examples__heading:hover,
.examples__list .examples__heading:focus {
  color: var(--accent-color);
}

.examples__label {
  margin-top: 4px;

  font-size: 16px;
  line-height: 1.88;
  font-weight: 400;

  color: var(--text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples__label:hover,
.examples__label:focus {
  color: var(--accent-color);
}

.examples__item:hover .text-item {
  transform: translateY(0);
  opacity: 1;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples__item:hover .examples__text {
  transform: translateY(0);
  opacity: 1;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples__thumb {
  position: relative;
  overflow: hidden;
}

.examples__text {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--primary-white-color);

  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ---------------------------BACKDROP---------------------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 1;

  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.3);
}

/* ----------------------------MODAL--------------------------------- */

.modal__section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background-color: var(--primary-white-color);
}

.modal__button:hover > .modal__icon--close {
  fill: var(--accent-color);
}

.modal__icon--close {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

.form {
  position: relative;
}

.form__title {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.form__field {
  display: block;
  position: relative;
  margin-bottom: 28px;
}

.form__field:focus-within > .form__input,
.text__field:focus-within > .text__input {
  border-color: var(--accent-color);
  outline: none;
}

.form__field:focus-within > .form__icon {
  fill: var(--accent-color);
}

.form__input {
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  width: 100%;
  height: 40px;
  padding-left: 42px;

  line-height: 1.14;
  letter-spacing: 0.01em;
}

.form__label {
  position: absolute;
  top: -18px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--text-color);
}

.form__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.text__field {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.text__label {
  position: absolute;
  top: -18px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--text-color);
}

.text__input {
  width: 100%;
  height: 120px;
  padding: 12px 15px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;
}

.text__input::placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.checkbox__field {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__input:checked + .checkbox__icon {
  border-color: transparent;
  background-color: var(--accent-color);
}

.checkbox__icon {
  position: relative;
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 7px;

  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
}

.checkbox__icon--check {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.checkbox__label {
  line-height: 1.71;

  color: var(--text-color);
}

.checkbox__link {
  color: var(--accent-color);
}

.form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
